
[Unit]
Wants=network.target
After=network.target
PartOf=adsbexchange-978.service
ReloadPropagatedFrom=adsbexchange-978.service

[Service]
EnvironmentFile=/usr/local/share/adsbexchange-978/default
EnvironmentFile=/etc/default/adsbexchange-978
SyslogIdentifier=adsbexchange-978-convert
User=adsbexchange-978
ExecStart=-/usr/local/share/adsbexchange-978/convert.sh
Type=simple
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
